<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page</title>
    <link rel="stylesheet" href="style.css" />
    <script src="https://smtpjs.com/v3/smtp.js">
    </script>
</head>

<body>
    <div class="container">
        <nav class="navBar">
            <div>
                <div class="navBarText-h4">
                    <div>uma seleção de produtos</div>
                </div>
                <div class="navBarText-h2">
                    <div>especial para você</div>
                </div>
                <div class="navBarText-h6">
                    <div>Todos os produtos desta lista foram selecionados a partir da sua navegação. Aproveite!</div>
                </div>
                <div class="gridButtons">
                    <div class="navBarButtons">
                        <button class="buttonBody">Conheça a Linx</button>
                    </div>
                    <div class="navBarButtons">
                        <button class="buttonBody">Ajude o algorítmo</button>
                    </div>
                    <div class="navBarButtons">
                        <button class="buttonBody">Seus produtos</button>
                    </div>
                    <div class="navBarButtons">
                        <button class="buttonBody">Compartilhe</button>
                    </div>
                </div>

            </div>
        </nav>

        <div class="bodyMaster">
            <div class="bodyFirstContent">
                <div class="bodyFragment">
                    <div class="title">
                        <div>Ajude o algorítimo a ser mais certeiro</div>
                    </div>
                    <div class="text">
                        <p class="firstText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
                            ultricies tellus
                            nec mi porta convallis sollicitudin eu urna. Mauris rhoncus erat sed interdum dignissim.
                            Suspendisse semper pretium consectetur. Praesent bibendum arcu risus, sit amet iaculis
                            ex tempus quis. Cras et erat ut tellus vulputate tincidunt. Aenean lacinia euismod augue
                            vel egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                            inceptos himenaeos. Vestibulum vel urna tortor. Vivamus et arcu non felis tristique
                            eleifend.
                        </p>
                        <p class="SecondText"> Morbi eu condimentum urna. Curabitur eu magna eget turpis condimentum
                            ultrices. Suspendisse quis lorem ultricies, pulvinar purus sed, egestas erat. Etiam
                            ultricies a ante vehicula pharetra. Quisque ut neque mattis, consequat velit ut,
                            ultrices orci. Nulla varius elementum erat vel pharetra. Aenean sit amet nisi diam.
                            Morbi viverra, magna ac luctus commodo, odio ante suscipit libero, at mattis augue est
                            vel metus.</p>
                    </div>

                </div>
                <div class="bodyFragment">
                    <form class="firstForm">
                        <div class="inputForm">
                            <label class="label" for="name">Seu nome:<input type="text" name="name" /></label>
                        </div>
                        <div class="inputForm">
                            <label class="label" for="email">E-mail:<input type="text" name="email" /></label>
                        </div>
                        <div class="inputForm">
                            <label class="label" for="cpf">CPF:<input type="number" name="cpf" /></label>
                        </div>
                        <div class="inputForm-radio">
                            <input class="inputRadio" type="radio" name="gender" value="male">
                            <label class="label" for="male">Masculino</label>

                            <input class="inputRadio" type="radio" name="gender" value="female">
                            <label class="label" for="female">Feminino</label>
                        </div>
                        <button class="submit" id="get-btn">Enviar</button>
                    </form>
                </div>
            </div>
            <div class="dividerTheme"><span><b>Sua seleção especial</b></span></h2>
            </div>
            <div class="bodySecondContent">
                <section id="cards" class="cards"></section>
            </div>
            <div class="moreItens">
                <button class="submitMoreItens" onclick="nextProducts()">Ainda mais produtos aqui!</button>
            </div>
            <div class="dividerTheme"><span><b>Compartilhe a novidade</b></span></h2>
            </div>
            <div class="bodyThirdContent">
                <div class="share">Quer que seus amigos também ganhem a lista personalizada deles? Preencha agora!
                </div>
                <form class="secondForm">
                    <div class="inputForm-share">
                        <label class="label" for="name">Nome do seu amigo:<input type="text" name="name" /></label>
                    </div>
                    <div class="inputForm-share">
                        <label class="label" for="email">E-mail:<input type="text" name="email" /></label>
                    </div>
                </form>
                <div class="submit-share">
                    <button class="submit" onclick="sendEmail()">Enviar agora</button>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-content">
                <div class="navBarText-h6">
                    <div class="footer-text">Testando suas habilidades em HTML, CSS e JS. Linx Impulse </div>
                    <div class="footer-lastText">2019</div>
                </div>
            </div>
        </footer>
    </div>
    <script src="scripts.js"></script>
</body>

</html>