:root {
    --backgroundDarkColor: #707070;
    --backgroundLightColor: #FFFFFF;
    --textGreyColor: #888888;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

label {
    display: block;
}

input {
    display: block;
    width: 340px;
    height: 30px;
    padding-left: 10px;
}

footer {
    color: white;
    padding: 69px 370px 129px 370px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(-3deg, var(--backgroundDarkColor) 70%, var(--backgroundLightColor) 30%);
}

.container {
    position: relative;
    width: 100%;
    background-color: var(--backgroundLightColor);
    min-height: 100vh;
    overflow: hidden;
}

.navBar {
    color: white;
    padding: 69px 370px 129px 370px;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(185deg, var(--backgroundDarkColor) 72%, var(--backgroundLightColor) 33%);
}

.navBarText-h2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    margin-bottom: 30px;
    text-align: center;
}

.navBarText-h4 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    margin-bottom: 5px;
    text-align: center;
}

.navBarText-h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    margin-bottom: 5px;
    text-align: center;
}

.gridButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    width: 55vw;
}

.navBarButtons {
    padding: 15px;
}

.buttonBody {
    padding: 12px 24px;
    border-radius: 5px;
    color: var(--textGreyColor)
}

.bodyMaster {
    margin: 20px 290px 40px;
    color: var(--textGreyColor);
    font-weight: 400;
}

.bodyFirstContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 80px;
}

.firstForm {
    margin-left: 70px !important;
}

.secondForm {
    display: grid;
    grid-template-columns: 400px 400px;
    justify-content: center;
    margin-top: 60px;
}

.title {
    margin-bottom: 30px;
}

.firstText {
    margin-bottom: 20px;
}

.label {
    font-size: 14px;
}

.inputForm {
    margin-bottom: 20px;
}

.inputForm-share {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputForm-radio {
    display: grid;
    grid-template-columns: 30px 100px 30px 100px;
    margin-bottom: 20px;
}

.inputRadio {
    width: 20px;
    height: 20px;
}

.moreItens {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px 138px;
}

.submit {
    height: 40px;
    width: 340px;
    background-color: transparent;
    border: solid 1px var(--backgroundDarkColor);
    color: var(--backgroundDarkColor);
    border-radius: 5px;
    cursor: pointer;
}

.buySubmit {
    height: 30px;
    width: 175px;
    background-color: transparent;
    border: solid 1px var(--backgroundDarkColor);
    color: var(--backgroundDarkColor);
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.submitMoreItens {
    height: 40px;
    width: 340px;
    background-color: transparent;
    border: solid 1px var(--backgroundDarkColor);
    color: var(--backgroundDarkColor);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.submit-share {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    cursor: pointer;
}

.dividerTheme {
    width: 100%;
    text-align: center;
    border-bottom: 2px solid var(--backgroundDarkColor);
    line-height: 0.1em;
    margin: 10px 0px 20px;
}

.dividerTheme span {
    background: var(--backgroundLightColor);
    padding: 0 10px;
    margin-bottom: 60px;
}

.card__image-container {
    width: 175px;
    height: 440px;
}

.image-src {
    width: 175px;
    height: 180px;
    border: 1px solid var(--backgroundDarkColor);
    background: #FFFFFF 0% 0% no-repeat padding-box;
}

.card_content {
    margin-top: 10px;
    font-size: 16px;
}

.card_oldPrice {
    margin-top: 10px;
    font-size: 16px;
}

.card_Price {
    margin-top: 10px;
    font-size: 20px;
}

.card_parcelingPrice {
    margin-top: 10px;
    font-size: 16px;
}

.share {
    font-size: 14px;
    margin-top: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    margin-top: 200px;
}

.footer-text {
    width: 260px;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
}

@media (max-width: 1040px) {
    /* Aqui */
    .gridButtons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        width: 100vw;
    }
    /* Aqui */
    .bodyMaster {
        margin: 20px 40px 40px;
        color: var(--textGreyColor);
        font-weight: 400;
    }
    /* Aqui */
    .inputForm {
        margin-bottom: 60px;
    }
    /* Aqui */
    .inputForm-radio {
        display: grid;
        grid-template-columns: 30px 100px 30px 100px;
        margin-bottom: 60px;
    }
    /* Aqui */
    .card__image-container {
        width: 140px;
        height: 440px;
    }
}

@media (max-width: 870px) {
    /* Aqui */
    .inputForm {
        margin-bottom: 80px;
    }
    /* Aqui */
    .inputForm-radio {
        display: grid;
        grid-template-columns: 30px 100px 30px 100px;
        margin-bottom: 80px;
    }
}

@media (max-width: 540px) {
    /* AquiE */
    input {
        display: block;
        width: 475px;
        height: 30px;
        padding-left: 10px;
    }
    /* Aqui */
    footer {
        color: white;
        padding: 0px 100px 30px 90px;
        display: flex;
        justify-content: center;
        background-image: linear-gradient(-9deg, var(--backgroundDarkColor) 70%, var(--backgroundLightColor) 30%);
    }
    /* Aqui */
    .navBar {
        color: white;
        padding: 69px 66px 85px 16px;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        background-image: linear-gradient(195deg, var(--backgroundDarkColor) 72%, var(--backgroundLightColor) 33%);
    }
    .navBarButtons {
        padding: 1px;
    }
    /* Aqui */
    .gridButtons {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        width: 95vw;
        margin-top: 40px;
    }
    /* Aqui */
    .buttonBody {
        padding: 6px 6px;
        border-radius: 5px;
        color: var(--textGreyColor);
        width: 130px;
    }
    /* Aqui */
    .bodyMaster {
        margin: 20px 20px 40px;
        color: var(--textGreyColor);
        font-weight: 400;
    }
    /* Aqui */
    .bodyFirstContent {
        display: block;
        margin-bottom: 80px;
    }
    /* Aqui */
    .firstForm {
        margin-left: 0px !important;
    }
    /* Aqui */
    .secondForm {
        display: block;
        justify-content: center;
        margin-top: 60px;
    }
    /* Aqui */
    .title {
        font-size: 16px;
        margin-bottom: 30px;
    }
    /* Aqui */
    .firstText {
        margin-bottom: 20px;
        font-size: 12px;
    }
    /* Aqui */
    .SecondText {
        font-size: 12px;
    }
    /* Aqui */
    .label {
        font-size: 12px;
    }
    /* AquiE */
    .submit {
        height: 40px;
        width: 475px;
        background-color: transparent;
        border: solid 1px var(--backgroundDarkColor);
        color: var(--backgroundDarkColor);
        border-radius: 5px;
        cursor: pointer;
    }
    /* Aqui */
    .buySubmit {
        height: 30px;
        width: 140px;
        background-color: transparent;
        border: solid 1px var(--backgroundDarkColor);
        color: var(--backgroundDarkColor);
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
    }
    /* Aqui */
    .submitMoreItens {
        height: 40px;
        width: 240px;
        background-color: transparent;
        border: solid 1px var(--backgroundDarkColor);
        color: var(--backgroundDarkColor);
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    /* Aqui */
    .dividerTheme {
        width: 100%;
        text-align: center;
        border-bottom: 2px solid var(--backgroundDarkColor);
        line-height: 0.1em;
        margin: 10px 0px 20px;
        font-size: 16px;
    }
    /* Aqui */
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
    }
    /* AquiE */
    .card__image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 500px;
        height: 245px;
    }
    /* AquiE */
    .image-src {
        width: 200px;
        height: 245px;
        border: 1px solid var(--backgroundDarkColor);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-right: 0px;
    }
    /* Aqui */
    .card_content {
        margin-top: 0px;
        font-size: 12px;
    }
    /* Aqui */
    .card_info {
        margin-top: 10px;
        font-size: 12px;
    }
    /* Aqui */
    .card_oldPrice {
        margin-top: 3px;
        font-size: 12px;
    }
    /* Aqui */
    .card_Price {
        margin-top: 3px;
        font-size: 14px;
    }
    /* Aqui */
    .card_parcelingPrice {
        margin-top: 3px;
        font-size: 12px;
    }
    /* Aqui */
    .footer-content {
        margin-top: 100px;
    }
    .footer-text {
        width: 260px;
        text-align: center;
    }
    .footer-lastText {
        text-align: center;
    }
}

@media (max-width: 420px) {
    /* AquiE */
    input {
        display: block;
        width: 375px;
        height: 30px;
        padding-left: 10px;
    }
    /* Aqui */
    footer {
        color: white;
        padding: 0px 100px 30px 90px;
        display: flex;
        justify-content: center;
        background-image: linear-gradient(-9deg, var(--backgroundDarkColor) 70%, var(--backgroundLightColor) 30%);
    }
    /* Aqui */
    .navBar {
        color: white;
        padding: 69px 66px 85px 16px;
        display: flex;
        justify-content: left;
        align-items: flex-start;
        background-image: linear-gradient(195deg, var(--backgroundDarkColor) 72%, var(--backgroundLightColor) 33%);
    }
    /* Aqui */
    .navBarText-h2 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        margin-bottom: 30px;
        text-align: left;
        width: 100%;
    }
    /* Aqui */
    .navBarText-h4 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        margin-bottom: 5px;
        text-align: left;
    }
    /* Aqui */
    .navBarText-h6 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        margin-bottom: 5px;
        text-align: left;
    }
    /* Aqui */
    .gridButtons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        width: 90vw;
        margin-top: 40px;
    }
    /* Aqui */
    .buttonBody {
        padding: 6px 6px;
        border-radius: 5px;
        color: var(--textGreyColor);
        width: 130px;
    }
    /* Aqui */
    .bodyMaster {
        margin: 20px 20px 40px;
        color: var(--textGreyColor);
        font-weight: 400;
    }
    /* Aqui */
    .bodyFirstContent {
        display: block;
        margin-bottom: 80px;
    }
    /* Aqui */
    .firstForm {
        margin-left: 0px !important;
    }
    /* Aqui */
    .secondForm {
        display: block;
        justify-content: center;
        margin-top: 60px;
    }
    /* Aqui */
    .title {
        font-size: 16px;
        margin-bottom: 30px;
    }
    /* Aqui */
    .firstText {
        margin-bottom: 20px;
        font-size: 12px;
    }
    /* Aqui */
    .SecondText {
        font-size: 12px;
    }
    /* Aqui */
    .label {
        font-size: 12px;
    }
    /* AquiE */
    .submit {
        height: 40px;
        width: 375px;
        background-color: transparent;
        border: solid 1px var(--backgroundDarkColor);
        color: var(--backgroundDarkColor);
        border-radius: 5px;
        cursor: pointer;
    }
    /* Aqui */
    .buySubmit {
        height: 30px;
        width: 140px;
        background-color: transparent;
        border: solid 1px var(--backgroundDarkColor);
        color: var(--backgroundDarkColor);
        border-radius: 5px;
        margin-top: 10px;
        cursor: pointer;
    }
    /* Aqui */
    .submitMoreItens {
        height: 40px;
        width: 240px;
        background-color: transparent;
        border: solid 1px var(--backgroundDarkColor);
        color: var(--backgroundDarkColor);
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    /* Aqui */
    .dividerTheme {
        width: 100%;
        text-align: center;
        border-bottom: 2px solid var(--backgroundDarkColor);
        line-height: 0.1em;
        margin: 10px 0px 20px;
        font-size: 16px;
    }
    /* Aqui */
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        width: 100%;
    }
    /* AquiE */
    .card__image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 380px;
        height: 245px;
    }
    /* AquiE */
    .image-src {
        width: 140px;
        height: 245px;
        border: 1px solid var(--backgroundDarkColor);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-right: 0px;
    }
    /* Aqui */
    .card_content {
        margin-top: 0px;
        font-size: 12px;
    }
    /* Aqui */
    .card_info {
        margin-top: 10px;
        font-size: 12px;
    }
    /* Aqui */
    .card_oldPrice {
        margin-top: 3px;
        font-size: 12px;
    }
    /* Aqui */
    .card_Price {
        margin-top: 3px;
        font-size: 14px;
    }
    /* Aqui */
    .card_parcelingPrice {
        margin-top: 3px;
        font-size: 12px;
    }
    /* Aqui */
    .footer-content {
        margin-top: 100px;
    }
    .footer-text {
        width: 260px;
        text-align: center;
    }
    .footer-lastText {
        text-align: center;
    }
}

@media (max-width: 380px) {
    /* AquiE */
    input {
        display: block;
        width: 325px;
        height: 30px;
        padding-left: 10px;
    }
    /* Aqui */
    .navBarText-h2 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        margin-bottom: 30px;
        text-align: left;
        width: 100%;
    }
    /* Aqui */
    .navBarText-h4 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        margin-bottom: 5px;
        text-align: left;
    }
    /* Aqui */
    .navBarText-h6 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        margin-bottom: 5px;
        text-align: left;
    }
    /* AquiE */
    .submit {
        height: 40px;
        width: 325px;
        background-color: transparent;
        border: solid 1px var(--backgroundDarkColor);
        color: var(--backgroundDarkColor);
        border-radius: 5px;
        cursor: pointer;
    }
    /* AquiE */
    .card__image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 340px;
        height: 245px;
    }
    /* AquiE */
    .image-src {
        width: 140px;
        height: 245px;
        border: 1px solid var(--backgroundDarkColor);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-right: 0px;
    }
}

@media (max-width: 360px) {
    /* Aqui */
    .navBarText-h2 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        margin-bottom: 30px;
        text-align: left;
        width: 100%;
    }
    /* Aqui */
    .navBarText-h4 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        margin-bottom: 5px;
        text-align: left;
    }
    /* Aqui */
    .navBarText-h6 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        margin-bottom: 5px;
        text-align: left;
    }
    /* AquiE */
    .submit {
        height: 40px;
        width: 325px;
        background-color: transparent;
        border: solid 1px var(--backgroundDarkColor);
        color: var(--backgroundDarkColor);
        border-radius: 5px;
        cursor: pointer;
    }
    /* AquiE */
    .card__image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 320px;
        height: 245px;
    }
    /* AquiE */
    .image-src {
        width: 140px;
        height: 245px;
        border: 1px solid var(--backgroundDarkColor);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-right: 0px;
    }
}

@media (max-width: 325px) {
    /* Aqui */
    input {
        display: block;
        width: 284px;
        height: 30px;
        padding-left: 10px;
    }
    /* Aqui */
    .submit {
        height: 40px;
        width: 284px;
        background-color: transparent;
        border: solid 1px var(--backgroundDarkColor);
        color: var(--backgroundDarkColor);
        border-radius: 5px;
        cursor: pointer;
    }
    /* Aqui */
    .card__image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 300px;
        height: 245px;
    }
    /* Aqui */
    .image-src {
        width: 140px;
        height: 245px;
        border: 1px solid var(--backgroundDarkColor);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-right: 0px;
    }
}

@media (max-width: 280px) {
    /* Aqui */
    input {
        display: block;
        width: 240px;
        height: 30px;
        padding-left: 10px;
    }
    /* Aqui */
    .submit {
        height: 40px;
        width: 240px;
        background-color: transparent;
        border: solid 1px var(--backgroundDarkColor);
        color: var(--backgroundDarkColor);
        border-radius: 5px;
        cursor: pointer;
    }
    /* Aqui */
    .card__image-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 250px;
        height: 245px;
    }
    /* Aqui */
    .image-src {
        width: 100px;
        height: 245px;
        border: 1px solid var(--backgroundDarkColor);
        background: #FFFFFF 0% 0% no-repeat padding-box;
        margin-right: 0px;
    }
}